<app-top-bar></app-top-bar>

<div class="prototype-container">
  <h1>{{ 'Prototype' | translate }}</h1>
  <h4>{{ 'ReasoningText' | translate }}</h4>

  <div class="ai-model-selector">
    <label class="ai-model-label">{{ 'AI Model' | translate }}</label>
    <div class="ai-options" *ngFor="let option of modelOptions">
      <p-radioButton
        [name]="'aiModel'"
        [value]="option.value"
        [(ngModel)]="showModels"
        (onClick)="toggleModels($event)"
      ></p-radioButton>
      <label class="ai-option-label">{{ option.label }}</label>
    </div>
  </div>

  <div class="chat-model-selector">
    <label class="chat-model-label">{{ 'Chat option' | translate }}</label>
    <div class="chat-options" *ngFor="let option of inputModelOptions">
      <p-radioButton
        [name]="'startupInputModel'"
        [value]="option.value"
        [(ngModel)]="startupInputModel"
        (onClick)="toggleInputModel($event)"
      ></p-radioButton>
      <label class="chat-option-label">{{ option.value }}</label>
    </div>
  </div>

  <div class="prototype-nav-button">
    <p-button
      class="prototype-button"
      label="{{ 'Navigate_Prototype' | translate }}"
      icon="pi pi-arrow-right"
      (click)="navigateToPrototype()">
    </p-button>
  </div>
</div>
