<div class="container">
  <!-- Map image container -->
  <div class="map-container" #container>
    <img alt="Karte von Olpe" [src]="shownMap" #img class="map-image" />
    <canvas #canvas class="drawing-canvas"></canvas>
  </div>
</div>

<div style="margin-top: 20px">
  <div class="language-switcher">
    <button (click)="switchLanguage('en')">
      <img src="assets/icons/uk-flag.png" alt="English" width="30">
    </button>
    <button (click)="switchLanguage('de')">
      <img src="assets/icons/german-flag.png" alt="Deutsch" width="30">
    </button>
  </div>

  <!-- Drawing controls -->
  <div *ngIf="!generatePossible" class="controls">
    <input
      id="lineWidthRange"
      type="range"
      min="5"
      max="30"
      [value]="lineWidth"
      (input)="changeLineWidth($event)"
    />

    <button (click)="enableDrawing()" class="icon-button"
            [ngClass]="{ selected: selectedTool === 'draw' }">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <button (click)="enableEraser()" class="icon-button"
            [ngClass]="{ selected: selectedTool === 'eraser' }" >
      <i class="fas fa-eraser"></i>
    </button>
    <button (click)="resetCanvas()" class="icon-button">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>

<div class="container" style="margin-top: 20px">
  <!-- Input field with helper text and button -->
  <div class="input-container">
    <div class="helper-text">{{ 'ScenarioEnter' | translate }}</div>
    <div class="input-wrapper">
      <input
        type="text"
        class="scenario-input"
        placeholder="{{ 'WhatIf' | translate }}"
        #scenarioInput
        (input)="onInputChange(scenarioInput.value)"
        (keydown.enter)="updatePrompt(scenarioInput)"
      > <!-- Update on Enter -->

      <button
        class="generate-button"
        [disabled]="generatePossible"
        (click)="updatePrompt(scenarioInput)"
      >
        {{ 'Generate' | translate }}
      </button> <!-- Update on Button Click -->

      <div class="flex justify-content-end flex-wrap" style="padding: 5px; margin-right: 20px">
        <p-button
          label="Reset"
          severity="danger"
          (click)="resetPrompt()"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 10px">
  <app-thematic-worlds
    (mapToShow)="showMap($event)"
    (isMapEditable)="setGeneratedMapEditable($event)"
  ></app-thematic-worlds>
</div>
