<div>
  <app-nav-bar-visitor></app-nav-bar-visitor>
  <app-reset></app-reset>
</div>

<div class="container">

  <!-- Map image container -->
  <div class="map-container" #container>
    <img src="assets/img/olpe.jpg" #img class="map-image" />
    <canvas #canvas class="drawing-canvas"></canvas>
  </div>

  <img src="../../assets/img/olpe.jpg"
       #img
       (contextmenu)="onContextMenu($event)"
       (click)="onImageClick()"
       class="map-image"/>

  <!-- Drawing controls -->
  <div class="controls">
    <input
      id="lineWidthRange"
      type="range"
      min="5"
      max="30"
      [value]="lineWidth"
      (input)="changeLineWidth($event)"
    />

    <button (click)="enableDrawing()" class="icon-button"
            [ngClass]="{ selected: selectedTool === 'draw' }">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <button (click)="enableEraser()" class="icon-button"
            [ngClass]="{ selected: selectedTool === 'eraser' }" >
      <i class="fas fa-eraser"></i>
    </button>
    <button (click)="resetCanvas()" class="icon-button">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>

</div>

<div class="container" style="margin-top: 100px">
  <!-- Input field with helper text and button -->
  <div class="input-container">
    <div class="helper-text">{{ 'ScenarioEnter' | translate }}</div>
    <div class="input-wrapper">
      <input
        type="text"
        class="scenario-input"
        placeholder="{{ 'WhatIf' | translate }}"
        #scenarioInput
        (input)="onInputChange(scenarioInput.value)"
        (keydown.enter)="updatePrompt(scenarioInput)"> <!-- Update on Enter -->

      <button
        class="generate-button"
        [disabled]="!inputText.trim()"
        (click)="updatePrompt(scenarioInput)">{{ 'Generate' | translate }}</button> <!-- Update on Button Click -->
    </div>
  </div>
</div>

<div style="margin-top: 20px">
  <app-thematic-worlds></app-thematic-worlds>
</div>
