/* Main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  box-sizing: border-box;
}

/* Map container */
.map-container {
  width: 950px;
  height: 950px;
  display: flex;
  overflow: hidden; /* Prevents image from spilling out */
  position: relative;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px
}

.map-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Canvas overlay */
.drawing-canvas {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto; /* Enable interaction */
  cursor: pointer /* url('/assets/icons/pencil.png') 0 24, pointer; */
}

/* Controls container */
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controls input[type="range"] {
  width: 150px;
  cursor: pointer;
}

.language-switcher {
  display: flex; /* Aligns the buttons in a row */
  gap: 10px; /* Optional: adds space between the buttons */
  justify-content: right;
  margin-right: 20px;
}

/* General styles for icon buttons */
.icon-button {
  padding: 10px;
  font-size: 1.2rem; /* Adjust icon size */
  background-color: #ccc; /* Default gray tone */
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: #bbb;
}

.icon-button.selected {
  background-color: #666;
  color: white;
  border: 1px solid #666;
}

.icon-button i {
  pointer-events: none; /* Prevent interference from icon clicks */
}

/* Input container */
.input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Helper text */
.helper-text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Input field and button wrapper */
.input-wrapper {
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
}

.scenario-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Rounded corners for left side */
  outline: none;
}

.scenario-input::placeholder {
  color: #888;
  font-style: italic;
}

/* Generate button */
.generate-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-left: none; /* No border between input and button */
  border-radius: 0 5px 5px 0; /* Rounded corners for right side */
  cursor: pointer;
}

.generate-button:hover {
  background-color: #0056b3;
}

.generate-button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}
