<div class="container">
  <!-- Zoom controls -->
  <div class="zoom-controls">
    <button (click)="adjustZoom(-10)" [disabled]="zoomLevel <= minZoom">-</button>
    <span>{{ zoomLevel }}%</span>
    <button (click)="adjustZoom(10)" [disabled]="zoomLevel >= maxZoom">+</button>
  </div>

  <!-- Map image container -->
  <div class="map-container"
       #container
       (mouseleave)="onMouseLeave()"
       (mousedown)="onMouseDown($event)"
       (mouseup)="onMouseUp()"
       (mousemove)="onMouseMove($event)">

    <img src="../../assets/img/olpe.jpg"
      #img
      (contextmenu)="onContextMenu($event)"
      (click)="onImageClick()"
      class="map-image"/>
  </div>

  <!-- Input field with helper text and button -->
  <div class="input-container">
    <div class="helper-text">{{ 'ScenarioEnter' | translate }}</div>
    <div class="input-wrapper">
      <input
        type="text"
        class="scenario-input"
        placeholder="{{ 'WhatIf' | translate }}"
        #scenarioInput
        (input)="onInputChange(scenarioInput.value)"
        (keydown.enter)="updatePrompt(scenarioInput)"> <!-- Update on Enter -->

      <button
        class="generate-button"
        [disabled]="!inputText.trim()"
        (click)="updatePrompt(scenarioInput)">{{ 'Generate' | translate }}</button> <!-- Update on Button Click -->
    </div>
  </div>
</div>

<div style="margin-top: 100px">
  <app-thematic-worlds></app-thematic-worlds>
</div>
